<div class="panel panel-default">
    @*<div class="panel-heading" style="background-color:gold">
        <h4>Site Menu</h4>
    </div>*@
    <div class="panel-body">
        <ul class="list-group">
            <li class="list-group-item"><a href="/leuges/Index" class="btn btn-default btn-block" style="background-color:darksalmon">Leuge</a></li>
            <li class="list-group-item"><a href="/teams/Index" class="btn btn-default btn-block" style="background-color:darkmagenta">Clubs</a></li>
           @if ((String)Session["power"] == "admin")
           {
                <li class="list-group-item"><a href="/users/Index" class="btn btn-default btn-block" style="background-color:green">Users</a></li>
                <li class="list-group-item"><a href="/paymentoptions/Index" class="btn btn-default btn-block" style="background-color:burlywood">Payment Option</a></li>
                <li class="list-group-item"><a href="/purchases/Index" class="btn btn-default btn-block" style="background-color:darkblue">Purchases</a></li>

           }

            <li class="list-group-item"><a href="/products/Index" class="btn btn-default btn-block" style="background-color:blue">Products</a></li>
            <li class="list-group-item"><a href="/manufacturers/Index" class="btn btn-default btn-block" style="background-color:greenyellow">Manufacturers</a></li>
            <li class="list-group-item"><a href="/matches/Index" class="btn btn-default btn-block" style="background-color:chocolate">Matches</a></li>
            <li class="list-group-item"><a href="/tickets/Index" class="btn btn-default btn-block" style="background-color:darkkhaki">Tickets</a></li>

        </ul>
    </div>
</div>

