<div class="panel panel-default">
    <div class="panel-heading" style="background-color:gold">
        <h4>Site Menu</h4>
    </div>
    <div class="panel-body">
        <ul class="list-group">
            <li class="list-group-item"><a href="/Home/Index" class="btn btn-default btn-block" style="background-color:brown">Home</a></li>
            <li class="list-group-item"><a href="/teams/Index" class="btn btn-default btn-block" style="background-color:darkmagenta">Clubs</a></li>
            <li class="list-group-item"><a href="/users/Index" class="btn btn-default btn-block" style="background-color:green">Users</a></li>
            <li class="list-group-item"><a href="/products/Index" class="btn btn-default btn-block" style="background-color:blue">Products</a></li>
        </ul>
    </div>
</div>

