<div class="panel panel-default">
    <div class="panel-heading" style="background-color:gold">
        <h4>Site Menu</h4>
    </div>
    <div class="panel-body">
        <ul class="list-group">
            <li class="list-group-item"><a href="/Home/Index" class="btn btn-primary btn-block">Home</a></li>
            <li class="list-group-item"><a href="/teams/Index" class="btn btn-info btn-block">Clubs</a></li>
            <li class="list-group-item"><a href="/users/Index" class="btn btn-danger btn-block">Users</a></li>
        </ul>
    </div>
</div>

