@model AlexMichaelProject.Models.leuge

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>leuge @Model.leugeName</title>
</head>
<body>
    <div class="col-md-3" style="width:20%;float:left;">
        @{ Html.RenderAction("SideMenu", "Home");}
    </div>
    <div class="col-md-3" style="width:80%;float:left;margin-top:20px;">
        <h4>leuge</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>Legue Name:</dt>
            <dd>@Html.DisplayFor(model => model.leugeName)</dd>
        </dl>
    </div>
    <div style="margin-left:50px;">
        <p class="btn btn-primary btn-md" style="background-color:wheat;">
            @Html.ActionLink("Edit", "Edit", new { id = Model.leugeName })
        </p>
        <p class="btn btn-primary btn-md">
            @Html.ActionLink("Back to List", "Index")
        </p>
    </div>
</body>
</html>
