@model System.Collections.Generic.IList<AlexMichaelProject.Models.match>


@{
    ViewBag.Title = "Home Page";
}

<div class="panel panel-body" style="width:70%;float:left">
    <div class="col-md-3">
        @{ Html.RenderAction("SideMenu", "Home");}
    </div>

    @if ((string)Session["fanclub"] == "FC Barcelona")
    {
        <div class="col-md-9">
            <img src="~/Content/Images/barca camp.jpg" class="img-rounded" style="width:95% ; height:85%" />
        </div>
    }

    @if ((string)Session["fanclub"] == "Chelsea")
    {
        <div class="col-md-9">
            <img src="~/Content/Images/Chelsea.jpg" class="img-rounded" style="width:95% ; height:85%" />
        </div>
    }

    @if ((string)Session["fanclub"] == "AC Milan")
    {
        <div class="col-md-9">
            <img src="~/Content/Images/milan.jpg" class="img-rounded" style="width:95% ; height:85%" />
        </div>
    }

    @if ((string)Session["fanclub"] == "Man Unt")
    {
        <div class="col-md-9">
            <img src="~/Content/Images/unated.jpg" class="img-rounded" style="width:95% ; height:85%" />
        </div>
    }

    @if ((string)Session["fanclub"] == "Juventus")
    {
        <div class="col-md-9">
            <img src="~/Content/Images/juventus.jpg" class="img-rounded" style="width:95% ; height:85%" />
        </div>
    }

    @if ((string)Session["fanclub"] == "Real Madrid")
    {
        <div class="col-md-9">
            <img src="~/Content/Images/madrid.jpg" class="img-rounded" style="width:95% ; height:85%" />
        </div>
    }

    @if ((string)Session["fanclub"] == "Dortmund")
    {
        <div class="col-md-9">
            <img src="~/Content/Images/dortmund.jpg" class="img-rounded" style="width:95% ; height:85%" />
        </div>
    }

    @if ((string)Session["fanclub"] == "Bayern Munchen")
    {
        <div class="col-md-9">
            <img src="~/Content/Images/bayern2.jpg" class="img-rounded" style="width:95% ; height:85%" />
        </div>
    }

    @if ((string)Session["fanclub"] == "PSG")
    {
        <div class="col-md-9">
            <img src="~/Content/Images/psg.jpg" class="img-rounded" style="width:95% ; height:85%" />
        </div>
    }

    @if (Session["fanclub"] == null)
    {
        <div class="col-md-9">
            <img src="~/Content/Images/home4.jpg" class="img-rounded" style="width:95% ; height:85%" />
        </div>
    }
    @*<div style="width:30%; float:left;">
        @foreach (var item in Model)
            if (item != null)
            {
                {
                    <div>
                        @Html.DisplayFor(modelItem => item.teamA) Vs @Html.DisplayFor(modelItem => item.teamB)
                        Playing at:@Html.DisplayFor(modelItem => item.stadium) Date:@Html.DisplayFor(modelItem => item.date)
                        @Html.ActionLink("Details", "Details", new { id = item.matchID })
                    </div>
                    }
                }
        </div>*@

    </div>
