@{
    ViewBag.Title = "Home Page";
}

<div class="panel panel-body">
    <div class="col-md-3">
        @{ Html.RenderAction("SideMenu", "Home");}
    </div>

    <div class="col-md-9">
        <img src="~/Content/Images/barca camp.jpg" class="img-rounded" width="1000" height="670"/>
    </div>
</div>

