@model System.Collections.Generic.IList<AlexMichaelProject.Models.match>


@{
    ViewBag.Title = "Home Page";
}

<div class="panel panel-body" style="width:80%;float:left;">
    <div class="col-md-3">
        @{ Html.RenderAction("SideMenu", "Home");}
    </div>

    @if ((string)Session["fanclub"] == "FC Barcelona")
    {
        <div class="col-md-9">
            <img src="~/Content/Images/barca camp.jpg" class="img-rounded" style="width:95% ; height:85%" />
        </div>
    }

    @if ((string)Session["fanclub"] == "Chelsea")
    {
        <div class="col-md-9">
            <img src="~/Content/Images/Chelsea.jpg" class="img-rounded" style="width:95% ; height:85%" />
        </div>
    }

    @if ((string)Session["fanclub"] == "AC Milan")
    {
        <div class="col-md-9">
            <img src="~/Content/Images/milan.jpg" class="img-rounded" style="width:95% ; height:85%" />
        </div>
    }

    @if ((string)Session["fanclub"] == "Man Unt")
    {
        <div class="col-md-9">
            <img src="~/Content/Images/unated.jpg" class="img-rounded" style="width:95% ; height:85%" />
        </div>
    }

    @if ((string)Session["fanclub"] == "Juventus")
    {
        <div class="col-md-9">
            <img src="~/Content/Images/juventus.jpg" class="img-rounded" style="width:95% ; height:85%" />
        </div>
    }

    @if ((string)Session["fanclub"] == "Real Madrid")
    {
        <div class="col-md-9">
            <img src="~/Content/Images/madrid.jpg" class="img-rounded" style="width:95% ; height:85%" />
        </div>
    }

    @if ((string)Session["fanclub"] == "Dortmund")
    {
        <div class="col-md-9">
            <img src="~/Content/Images/dortmund.jpg" class="img-rounded" style="width:95% ; height:85%" />
        </div>
    }

    @if ((string)Session["fanclub"] == "Bayern Munchen")
    {
        <div class="col-md-9">
            <img src="~/Content/Images/bayern2.jpg" class="img-rounded" style="width:95% ; height:85%" />
        </div>
    }

    @if ((string)Session["fanclub"] == "PSG")
    {
        <div class="col-md-9">
            <img src="~/Content/Images/psg.jpg" class="img-rounded" style="width:95% ; height:85%" />
        </div>
    }

    @if (Session["fanclub"] == null)
    {
        <div class="col-md-9">
            <img src="~/Content/Images/home4.jpg" class="img-rounded" style="width:95% ; height:85%" />
        </div>
    }
    

    </div>
<div style="width:20%; float:left;overflow-y: scroll; height:750px;">
    @foreach (var item in Model)
    {
        <div class="panel panel-default" style="margin-right:50px; width:350px;">
            
            <div class="panel-heading">
                @Html.DisplayFor(modelItem => item.teamA) Vs @Html.DisplayFor(modelItem => item.teamB)
            </div>
            <div class="panel-body" style="align-content:center;">
                Playing at:@Html.DisplayFor(modelItem => item.stadium)
                <br />
                Date:@item.date.ToString("dd/MM/yyyy")
                <br />

                @Html.ActionLink("Details", "Details", "matches", new { id = item.matchID }, null)
            </div>
            </div>
    }
</div>
    